* {
  text-align: center;
  background-color: lightblue;
}

.input {
  margin-top: 40px;
  background-color: white;
  height: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}

.box {
  font-size: 20px;
  padding: 10px;
}