body {
  text-align: center;
  background-color: lightblue;
}

.input {
  margin-top: 40px;
  background-color: white;
  height: 20px;
  width: 250px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}

.box {
  font-size: 20px;
  padding: 10px;
}

button {
  margin-top: 15px;
  background-color: blue;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

h3 {
  color: red;
}